<!DOCTYPE html>
<html>
<head>
  <title>Hovercat</title>
  <%= stylesheet_link_tag    "hovercat/application", media: "all" %>
  <%= javascript_include_tag "hovercat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
